*.cmi
*.cmo
testsuite/*.gcc
testsuite/*.ocaml
*.o
myocamlbuild.ml
setup.ml
setup.data
setup.log
configure
_tags
Makefile
src/META
src/libmlmpfr_stubs.clib
src/mlmpfr.mldylib
src/mlmpfr.mllib
src/mlmpfr.odocl
_build
mlmpfr.docdir